/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: #222422;
  color: #fff;
  font-family: 'Cinzel', serif;
  padding: 30px;
  cursor: default;
  /*justify-content: flex-end;*/
}
footer {
  height: 40px;
  margin: 30px 30px 10px auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
 a {
   text-decoration: none;
   color: inherit;
   cursor: default;
}
img {
  max-width: 800px;
  max-height: 600px;
}
section {
  display: flex;
}
.submission {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}
h2 {
  font-weight: normal;
  background-color: 222422;
}
nav {
  background-color: #FFA500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
aside {
  display: flex;
  flex-direction: column;
  background-color: #585A5A;
  font-size: 20px;
  margin-right: 20px;
  min-width: 250px;
}
.albums-bar{
  padding: 20px;
  background-color: inherit;
}
.push {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar {
  padding: 30px;
}
.all-img {
  max-width: 400px;
  max-height: 300px;
  border: 4px solid;
  border-color: rgba(0, 0, 0, 0.15);
}
.all-titles {
  margin-left: 7px;
}
time {
  font-size: 10px;
  font-style: italic;
  margin-top: 10px;
  color: #949594;
}
.logo {
  height: 40px;
  margin-top: 10px;
  margin-left: 25px;
}
logo {
  flex-grow: 1;
}
.comments {
  margin-left: 40px;
}
p {
  margin: 10px auto;
}
show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-show {
  border: 8px solid;
  border-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.submit-button {
  font-family: "Cinzel";
  background-color: #fff;
  border: 0;
  padding: 1px 4px 1px 4px;
}
.form {
  display: flex;
  justify-content: center;
}
.placeholder {
  margin: 50px;
}
input {
  margin: 20px 5px 0 0;
}
.field {
  margin-top: 50px;
}
#copyright {
  color: #B2B3B2;
}
@media (max-width: 1000px) {
  nav {
    flex-direction: column;
  }
  logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  navbar {
  text-align: center;
  }
}
@media (max-width: 800px) {
  aside {
    min-width: 120px;
  }
